*,::before,::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium';
    font-size: 1rem;
}

h1, p{
    margin: 0;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    -o-transition-property: prop;
    transition-property: prop;
    align-items: center;
    background-color: #048ABF;
}

.card{
    width: 320px;
    height: 400px;
    background-color: #d5e5f2;
    border-radius: 1rem;
    padding: 4rem 2rem 0;
    color: #1a1a1a;
    overflow-y: hidden;
    box-shadow: 20px 20px 10px #035C80;
}

/*캘린더*/
.card-image-calendar{
    position: absolute;
    width: 260px;
    filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4));
}

/*푸드*/
.card-image-food{
    position: absolute;
    margin-top: -30px; 
    width: 260px;
    filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4));
}

.card-image-sign{
    position: absolute;
    margin-top: -30px; 
    width: 260px;
    filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4));
}

.card__data{
    transform: translateY(13.2rem);
    text-align: center;
    margin-top: -70px;
}

.card__title{
    font-size: 1.5rem;
    color: #e48101;
    margin-bottom: .5rem;
}

.card__title_food{
    font-size: 1.5rem;
    color: #e48101;
    margin-bottom: .5rem;
}

.today{
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
}

.schedule{
    font-size: 15px;
    line-height: 30px;
    text-align: initial;    
    margin-bottom: 1.25rem;
    opacity: 0;
}

/*카드 버튼*/
.card__button{
    display: block;
    width: max-content;
    margin-top: 35%;
    margin-left: 27%;
    padding: 1.125rem 2rem;
    border: 1px solid #D9B448;
    background: none;
    border-radius: .5rem;
    color: black;
    font-weight: 600;
    transition: 0.35s;
    opacity: 0;
    box-shadow: 10px 10px 10px #BFCDD9; 
    position: relative;
    overflow: hidden;
}
.card__button:hover{
    color: white;
    text-shadow: 0 0 20px white;
}
.card__button::before{
    content: "";
    position: absolute;
    left: 0;
    width: 500px;
    height: 0%;
    background-color: #D9B448;
    z-index: -1;
    transition: 0.35s;
}
.card__button::before{
    bottom: 0;
    border-radius: 50% 50% 0 0; 
}
.card__button:hover::before{
    height: 180%;
}

.cd-btn{
    display: block;
    width: max-content;
    margin-top: 35%;
    margin-left: 17%;
    padding: 1.125rem 2rem;
    border: 1px solid #D9B448;
    background: none;
    border-radius: .5rem;
    color: black;
    font-weight: 600;
    transition: 0.35s;
    opacity: 0;
    box-shadow: 10px 10px 10px #BFCDD9; 
    position: relative;
    overflow: hidden;
}
.cd-btn:hover{
    color: white;
    text-shadow: 0 0 20px white;
}
.cd-btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 500px;
    height: 0%;
    background-color: #D9B448;
    z-index: -1;
    transition: 0.35s;
}
.cd-btn::before{
    bottom: 0;
    border-radius: 50% 50% 0 0; 
}
.cd-btn:hover::before{
    height: 180%;
}

/*캘린더*/
.card-image-calendar,
.card-image-food,
.card-image-sign,
.card__data,
.card__title,
.card__title_food,
.today,
.schedule{
    transition: .5s;
}
/*캘린더*/
.card:hover .card-image-calendar{
    transform: translate(-4.3rem, -9.5rem);
}

/*푸드*/
.card:hover .card-image-food{
    transform: translate(-5.3rem, -9.5rem);
}

.card:hover .card-image-sign{
    transform: translate(-2.3rem, -8.5rem);
}

.card:hover .card__data{
    transform: translateY(4.8rem );
}

.card:hover .card__title{
    transform: translateX(-4.3rem);
    margin-bottom: 0;
}

.card:hover .card__title_food{
    transform: translateX(-2.7rem);
    margin-bottom: 0;
}

.card:hover .today{
    transform: translateX(-4rem);
}

.card:hover .schedule,
.card:hover .card__button{
    transition-delay: .2s;
    opacity: 1;
}

.card:hover .cd-btn{
    transition-delay: .2s;
    opacity: 1;
}